body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, rgb(185, 185, 232), pink);
  min-height: 100vh;
  margin: 0;
}

/* Center layout */
.center-box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card */
.card {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  background: #ffffffcc;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  padding: 25px;
  transition: 0.3s;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px);
}

/* Headings */
h1, h3, h4 {
  color: purple;
  font-weight: 600;
  text-align: center;
}

/* Inputs */
.form-control {
  border-radius: 10px;
  padding: 12px;
}

/* Buttons */
.btn-custom {
  background: #cdb4db;
  border-radius: 10px;
  font-weight: 500;
}

.btn-custom:hover {
  background: #bde0fe;
}

/* Links */
a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
}

/* Navbar */
.navbar {
  background:purple;
}

/* Logout */
.btn-danger {
  background: pink;
  color: black;
  border: none;
}

.btn-danger:hover {
  background: red;
}

/* Responsive */
@media (max-width: 576px) {
  .card {
    padding: 18px;
  }

  h1, h3, h4 {
    font-size: 20px;
  }
}

p{
  text-decoration: none;
}